server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/minhas_financas
    username: "financas"
    password: "financas0345"
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

app:
  jwt:
    secret: "mysecretkey"
    expiration-minutes: 120

logging:
  level:
    org.hibernate.SQL: debug