*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #f0f0f0;
    width: 100vw;
    color: rgb(65, 62, 62);
}

.container{
    margin: auto;
    align-items: center;
    width: 90%;
    height: auto;
}

.botao{
    width: 90%;
    height: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20%;
    margin: auto;
}

.topHAberto{
   background-color: #fff;
   width: 100%;
   height: 20%;
   border-radius: 5px;
   transition: all 0.3s ease; 
}

.midHAberto{
   background-color: #fff;
   width: 100%;
   height: 20%;
   border-radius: 5px;
   transition: all 0.3s ease; 
}

.botHAberto{
   background-color: #fff;
   width: 100%;
   height: 20%;
   border-radius: 5px;
   transition: all 0.3s ease; 
}

.topHFechado{
   background-color: #fff;
   width: 100%;
   height: 20%;
   border-radius: 5px;
   transition: all 0.3s ease; 
}

.midHFechado{
   background-color: #fff;
   width: 70%;
   height: 20%;
   border-radius: 5px;
   transition: all 0.3s ease; 
}

.botHFechado{
   background-color: #fff;
   width: 40%;
   height: 20%;
   border-radius: 5px;
   transition: all 0.3s ease; 
}

.botaoFechar{
    top: 15px;
    left: 15px;
    width: 3%;
    height: 5vh;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    position: fixed;
    transition: all 0.3s ease;  
}

.botaoAbrir{
    top: 15px;
    left: 15px;
    width: 3%;
    height: 5vh;
    background-color: #1b1b1b;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    position: fixed;
    transition: all 0.3s ease;
}

.fechar{
    display: flex;
    gap: 50px;
    background-color: #272727;
    left: 0;
    width: 7%;
    height: 100vh;
    position: fixed;
    transition: all 0.3s ease;
    align-items: center; 
}

.fechar ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 20px;
}

.fechar li{
    list-style: none;
    color: white;
    font-size: 2em;
}

.fechar li span{
    display: none;
    transition: all 0.3s ease;
}


.abrir{
    display: flex;
    gap: 50px;
    background-color: #272727;
    left: 0;
    width: 18%;
    height: 100vh;
    position: fixed;
    transition: all 0.3s ease;
    align-items: center;
}

.abrir ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 20px;
}

.abrir li{
    list-style: none;
    color: white;
    font-size: 2em;
}

.abrir li div{
    display: inline-flex;
    gap: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.abrir li div:hover{
    font-weight: bold;
    color: #039ffa;
}

.abrir span{
    display: block;
    transition: all 0.3s ease;
}

.conteudoFechado{
    transition: all 0.3s ease;
    width: 82%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

.conteudoAberto{
    transition: all 0.3s ease;
    width: 93%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

.imgLogo{
    width: 25%;
    display: flex;
    margin: -180px auto 0 auto;
}


@media screen and (max-width: 1450px){
    
    
}