*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #f0f0f0;
    width: 100vw;
    color: rgb(65, 62, 62);
}

.container{
    margin: auto;
    align-items: center;
    width: 90%;
    height: auto;
}

.botao{
    width: 90%;
    height: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20%;
    margin: auto;
}

.topHAberto{
   background-color: #fff;
   width: 100%;
   height: 20%;
   border-radius: 5px;
   transition: all 0.3s ease; 
}

.midHAberto{
   background-color: #fff;
   width: 100%;
   height: 20%;
   border-radius: 5px;
   transition: all 0.3s ease; 
}

.botHAberto{
   background-color: #fff;
   width: 100%;
   height: 20%;
   border-radius: 5px;
   transition: all 0.3s ease; 
}

.topHFechado{
   background-color: #fff;
   width: 100%;
   height: 20%;
   border-radius: 5px;
   transition: all 0.3s ease; 
}

.midHFechado{
   background-color: #fff;
   width: 70%;
   height: 20%;
   border-radius: 5px;
   transition: all 0.3s ease; 
}

.botHFechado{
   background-color: #fff;
   width: 40%;
   height: 20%;
   border-radius: 5px;
   transition: all 0.3s ease; 
}

.botaoFechar{
    top: 15px;
    left: 15px;
    width: 3%;
    height: 5vh;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    position: fixed;
    transition: all 0.3s ease;  
}

.botaoAbrir{
    top: 15px;
    left: 15px;
    width: 3%;
    height: 5vh;
    background-color: #1b1b1b;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    position: fixed;
    transition: all 0.3s ease;
}

.fechar{
    display: flex;
    gap: 50px;
    background-color: #272727;
    left: 0;
    width: 7%;
    height: 100vh;
    position: fixed;
    transition: all 0.3s ease;
    align-items: center; 
}

.fechar ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 20px;
}

.fechar li{
    list-style: none;
    color: white;
    font-size: 2em;
}

.fechar li span{
    display: none;
    transition: all 0.3s ease;
}


.abrir{
    display: flex;
    gap: 50px;
    background-color: #272727;
    left: 0;
    width: 18%;
    height: 100vh;
    position: fixed;
    transition: all 0.3s ease;
    align-items: center;
}

.abrir ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 20px;
}

.abrir li{
    list-style: none;
    color: white;
    font-size: 2em;
}

.abrir li div{
    display: inline-flex;
    gap: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.abrir li div:hover{
    font-weight: bold;
    color: royalblue;
}

.abrir span{
    display: block;
    transition: all 0.3s ease;
}

.conteudoFechado{
    transition: all 0.3s ease;
    width: 82%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

.conteudoAberto{
    transition: all 0.3s ease;
    width: 93%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

.imgLogo{
    width: 25%;
    display: flex;
    margin: -180px auto 0 auto;
}

.valores{
    display: flex;
    gap: 20px;
    margin: -130px auto 0 auto;
    width: 90%;
    height: auto;
}

.infos{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    justify-content: center;
    margin: -130px auto 0 auto;
    width: 20%;
    height: 180px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: #27272715 0px 5px 15px;
    transition: all 0.3s ease;
}

.menu img{
    width: 60px;
    margin-top: -10px;
    color: white
}

.vermelho{
    color: red;
}

.verde{
    color: green;
}

.amarelo{
    color: goldenrod;
}

.infos h2{
    font-size: 2.5em;
}

.infos p{
    font-size: 1.8em;
}

.infos:hover{
    background-color: royalblue;
    color: white;
}

.historico{
    background-color: white;
    width: 86%;
    height: auto;
    margin: 50px auto 0 auto;
    border-radius: 10px;
    box-shadow: #27272715 0px 5px 15px;
}

.historico table{
    width: 100%;
    border-collapse: collapse;
}

.historico table thead th{
    background-color: royalblue;
    padding: 10px;
    font-size: 1.5em;
    color: white;
    gap: 10px;
    border-left: #f0f0f0 5px solid;
}

.historico tbody{
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

.historico tbody td{
    border-bottom: #f0f0f0 5px solid;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 1450px){
    
    
}